*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
ul{
  list-style: none;
}
body{
  font-size: 1rem;
  line-height: 1.6;
  background-color: #ecf3f2;
  color: #666;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


header{
  background-color: #68a1af;
  padding: 2rem 0;
  position: sticky;
  top: 0;

}
.menu>li,.menu>a{
  display: inline-block;
}
.menu li{
  position: relative;
}
.menu a{
  font-size: 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  counter-reset: #fff;
  display: block;
  width: 100px;
  padding: 10px;
  transition: background-color .22s ease,color.22s ease;
}
.menu a:hover{
  background-color: #f34949;
  color: #fff;
}
.submenu{
  position: absolute;
  background-color: #2c3e50;
  width: 100px;
  left: 0;
  display: none;
}


.menu li:hover>.submenu{
  display: block;
  animation: slidedown .3s ease;
}
.submenu li:hover>.submenu2{
  display: block;
  animation: slideleft .3s ease;
}
@keyframes slidedown{
  0%{
      opacity: 0;
      transform: translateY(-18px);
  }
  100%{
      opacity: 1;
      transform: none;
  }
}
.About {
    width:100%;
    max-width: 75%;
   
    margin: auto;
    height: 100vh;
   
    background-color: #ebebeb;
    border-bottom: 3px solid rgb(211, 211, 211);
  }
  
  .About .detail {
    width: 100%;
    height: 75%;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    grid-column-gap: 60px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  
  }
  
  .About .detail .content-About {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    background-color: #d9ccb1;
    padding: 10px 30px;
    border-radius: 6px;
    box-shadow: 1px 0px 5px #af4e4e;
    transition: all 0.1s linear;
  }
  
  .About .detail .content-About .desc {
    margin: 10px 0 20px 0;
    font-size: 20px;
    color: #060101;
    
  }
  
  .About .detail .content-About img {
    width: 80%;
    
    cursor: pointer;
  }
   /* Footer */
   .footer {
    width: 100%;
    height: 300px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer .social-icon i {
    cursor: pointer;
    font-size: 40px;
    background-color: #ffffff;
    padding: 15px;
    margin: 0 20px 20px;
    border-radius: 50%;
    transition: all 0.3s linear;
  }
  
  .footer .social-icon i:hover {
    background-color: #75757575;
    color: #ffffff;
  }
  
  .footer .footer-nav {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  
  .footer .footer-nav li a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    padding: 10px 5px;
    font-weight: bold;
  }
  
  .footer .footer-nav li:hover a {
    text-decoration: underline;
  }